// profiles

profiles {

    standard {
        //executor and container
        process.executor = 'local'
        process.container = 'davideyre/wgs-eqa:latest'
        docker.enabled = true
    }

    cluster {
    
        //executor and container
    	process.executor = 'sge'

        process.queue = 'short.qc'
        clusterOptions = '-P bag.prjc'
        process.penv = 'mpi'
        
        process.module = 'python/3.4.3'
        
        //use local storage and clear it when done
        process {
  			scratch = true
  			afterScript = 'rm -rf *'
		}
    }
}


// reporting
report {
	enabled = true
	file = "nextflow_reports/report.html"
}

timeline {
	enabled = true
	file = "nextflow_reports/timeline.html"
}